.logotipo{
	padding: 10px;
	margin-right: 20px;
}

.logotipo img{
	height: 30px;
}

input{
	margin: 10px;
}

button{
	margin: 10px;
}

select{
	margin: 10px;
}

textarea{
	padding: 10px;
	margin: 10px;
	width: 200px;
	height: 100px;
}